/* footer main */
.ftr-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  border-top: 3px solid black;
  background-color: var(--color-footer);
  color: var(--color-text);
  text-align: center;
  z-index: 97;
}
.ftr-main > span {
  color: var(--color-text);
}
.ftr-main-text {
  text-decoration: none;
  color: var(--color-effect);
}
