/* full header div */
.hdr-main {
  display: flex;
  background-color: var(--color-header);
  color: var(--color-text-2);
  border-bottom: 4px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
}
/* separate boxes on header (left middle right)  */
.hdr-box {
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
}
.hdr-box > a:link {
  text-decoration: none;
}
.hdr-box > a {
  color: var(--color-text-2);
}
.hdr-box:first-child > span {
  margin-right: auto;
}
.hdr-box:last-child > span {
  margin-left: auto;
}
/* middle header text markup */
.hdr-text-mid {
  padding: 10px;
}
/* side menu left */
.hdr-text-left {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  z-index: 0;
}
/* side menu right */
.hdr-text-right {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 0;
}
