.theme-light {
  --color-primary: white;
  --color-header: #F3F3F3;
  --color-content: #c7c4c4;
  --color-content-op: rgba(255, 255, 255, 0.2);
  --color-notice: #AFADAD;
  --color-link: #4F70A5;
  --color-footer: #F3F3F3;
  --color-footer-text: grey;
  --color-text: black;
  --color-text-2: black;
  --color-effect: grey;
  --color-button: #F3F3F3;
  --color-button-border: black;
  --color-button-active: grey;
  --color-hover: #C9C9C9;
  --color-focus: #E0E0E0;
  --color-focus-border: gray;
}
.theme-dark {
  --color-primary: black;
  --color-header: #141414;
  --color-content: #2E2E2E;
  --color-content-op: rgba(0, 0, 0, 0.1);
  --color-notice: #585656;
  --color-link: #4DAFE0;
  --color-footer: #141414;
  --color-footer-text: grey;
  --color-text: white;
  --color-text-2: white;
  --color-effect: #555555;
  --color-button: #141414;
  --color-button-border: black;
  --color-button-active: grey;
  --color-hover: #4C4C4C;
  --color-focus: #4C4C4C;
  --color-focus-border: none;
}
.theme-blurple {
  --color-primary: purple;
  --color-header: #515b80;
  --color-content: #bdcdff;
  --color-footer: #515b80;
  --color-footer-text: grey;
  --color-notice: #a2b0e6;
  --color-link: #4F70A5;
  --color-text: black;
  --color-text-2: white;
  --color-effect: #21283F;
  --color-button: #515b80;
  --color-button-border: black;
  --color-button-active: #8393d1;
  --color-hover: #313d66;
  --color-focus: #8393d1;
  --color-focus-border: none;
}
.theme-ocean {
  --color-primary: blue;
  --color-header: #4E4E50;
  --color-content: #1A1A1D;
  --color-footer: #4E4E50;
  --color-footer-text: grey;
  --color-notice: #414142;
  --color-link: #bda2e9;
  --color-text: #bd547e;
  --color-text-2: #C3073F;
  --color-effect: #6a6a6e;
  --color-button: #4E4E50;
  --color-button-border: black;
  --color-button-active: grey;
  --color-hover: #646468;
  --color-focus: #848488;
  --color-focus-border: none;
}
.theme-sunrise {
  --color-primary: orange;
  --color-header: #191a6e;
  --color-content: #2F2FA2;
  --color-footer: #191a6e;
  --color-footer-text: grey;
  --color-notice: #242582;
  --color-link: #6ca2f8;
  --color-text: white;
  --color-text-2: #F64C72;
  --color-effect: #151647;
  --color-button: #242582;
  --color-button-border: black;
  --color-button-active: #2F2FA2;
  --color-hover: #1b1c5c;
  --color-focus: #242582;
  --color-focus-border: #2F2FA2;
}
